.full-point {
    display: block;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 9!important;
}

.full-point:focus {
    color: #FFFFFF;
}

.full-point:after {
    content: '';
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -12px;
    width: 24px;
    height: 24px;
    background: url("../images/dot.png") no-repeat center center;
    background-size: 100% 100%;
    animation: go 0.8s infinite;
}

@keyframes go {
    from {
        transform: scale(0.5);
    }

    to {
        transform: scale(1);
    }

}