<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telphone=no, email=no" />
    <title>国创AR大冒险</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../plugins/GC-ui3.0.0/css/gui.css">
    <link rel="stylesheet" type="text/css" href="../plugins/mui/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/ar.css">
</head>

<body>
    <div class="wrap">
        <video id="video"></video>
        <div id="container"></div>
        <header id="header" class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-arrowleft"></a>
            <h1 class="mui-title">国创AR大冒险</h1>
        </header>
        <div class="user-box">
            <div class="user-photo user-photo-show">
                <img src="../images/photo_1.png">
                <p class="user-type-1">技术大神</p>
            </div>
            <ul class="hidden">
                <li class="user-photo user-photo-sel">
                    <img src="../images/photo_1.png">
                    <p class="user-type-1">技术大神</p>
                </li>
                <li class="user-photo user-photo-sel">
                    <img src="../images/photo_2.png">
                    <p class="user-type-2">职能管家</p>
                </li>
                <li class="user-photo user-photo-sel">
                    <img src="../images/photo_3.png">
                    <p class="user-type-3">业务能手</p>
                </li>
            </ul>
        </div>
        <div class="left-menu">
            <a href="javascript:;" class="left-menu-item no-thing">
                <img src="../images/icon_5.png">
                <p>锦囊</p>
            </a>
            <a href="javascript:;" class="left-menu-item no-thing">
                <img src="../images/icon_6.png">
                <p>盲盒</p>
            </a>
            <a href="./fullScene.html" class="left-menu-item">
                <img src="../images/icon_7.png">
                <p>慈善角</p>
            </a>
        </div>
        <div class="bottom-menu">
            <a href="./ar.html" class="bottom-menu-item">
                <img src="../images/icon_1.png">
                <p>寻找小创</p>
            </a>
            <a href="javascript:;" class="bottom-menu-item no-thing">
                <img src="../images/icon_2.png">
                <p>员工入职</p>
            </a>
            <a href="./garden.html" class="bottom-menu-item">
                <img src="../images/icon_3.png">
                <p>国创一天</p>
            </a>
            <a href="javascript:;" class="bottom-menu-item no-thing">
                <img src="../images/icon_4.png">
                <p>智慧种树</p>
            </a>
        </div>
        <div class="load-line"></div>
    </div>
    <img id="xc" src="../images/xc.png">
    <script src="../plugins/jquery-1.10.2.min.js"></script>
    <script src="../plugins/GC-ui3.0.0/gui.js"></script>
    <script src="../plugins/mui/js/mui.min.js"></script>
    <script src="../plugins/html2Canvas.min.js"></script>
    <script src="../js/ar.js"></script>
    <script type="module" src="../js/option.js"></script>
    <script type="module" src="../js/ar-controls.js"></script>
    <script src="../js/index.js"></script>
    <script type="module">
        let time = 0
        setInterval(()=>{
            html2canvas(document.body, {
                allowTaint: true,
                taintTest: false,
                useCORS: true
            }).then(canvas => {
                const img = canvas.toDataURL("image/png");
                // img为截图传送给后台做AR识图判断
                if(time == 16) {
                    $('.load-line').hide()
                    window.init()
                }
            })
            time += 1
        }, 1000)
    </script>
</body>

</html>