<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1,minimun-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telphone=no, email=no" />
    <title>科大国创感恩利他视频</title>
    <link rel="stylesheet" type="text/css" href="../css/reset.css">
    <link rel="stylesheet" type="text/css" href="../plugins/GC-ui3.0.0/css/gui.css">
    <link rel="stylesheet" type="text/css" href="../plugins/mui/css/mui.min.css">
    <link rel="stylesheet" type="text/css" href="../css/common.css">
    <link rel="stylesheet" type="text/css" href="../css/video.css">
</head>

<body>
    <div class="wrap">
        <div id="video"></div>
        <header id="header" class="mui-bar mui-bar-nav">
            <a class="mui-action-back mui-icon mui-icon-arrowleft"></a>
            <h1 class="mui-title">科大国创感恩利他视频</h1>
        </header>
    </div>
    <script src="../plugins/jquery-1.10.2.min.js"></script>
    <script src="../plugins/GC-ui3.0.0/gui.js"></script>
    <script src="../plugins/mui/js/mui.min.js"></script>
    <script src="../plugins/h5player.js"></script>
    <script>
        let player = new Player({
            "id": "video",
            "url": "http://www.kdgcsoft.com/media/guide4.mp4",
            "playsinline": true,
            "width": window.innerWidth,
		    "height": window.innerHeight
        });
    </script>
    <script src="../js/index.js"></script>
</body>

</html>